* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: white;
    
  }

.header{
  background-color: black;
  display: flex;
  width: 100%;
}
.container{
  width: 100%;
  display: flex;
  justify-content: space-around;

}

  
   .logotipo {
    width: 100px;
    height: 100px;
    
  }
  
  
  .header-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    list-style: none;
    font-size: 16px;
    
  }
.header-ul a:hover {
    transition: 0.4s;
    color: rgb(198, 106, 105);
  }

  .nav-button {
    display: flex;
    align-items: center;
    
  }
  .nav-button  button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border: 0.2px solid #ffffff;
    border-radius: 5px;
    width: 180px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    background-color: rgb(31, 72, 31);
  }
  .papelDeParede{
   background-image: url(image/Papel-de-parede-Exercito-Brasileiro-1536x864.jpg); 
  }
  
  .container-principal{
    height: 800px;
    display: flex;
  }
  .titulo{
    display: flex;
    font-size: 48px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #000;
  }


  /* sobre mim */
  
   .caixa {
    background-color: #000;
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    height: 800px;
   
}
.title_sobremim{
  align-self: flex-start;
  margin-left: 10%;
  font-size: 26px;
  margin-top: 20px;
}

 .box_sm{
  display: flex;
  flex-direction: row;
  gap: 180px;
  margin-top: 120px;
   
}
.title{
  display: flex;
    flex-direction: column;
    gap: 10px;
}
.texto_caixa{
  color: white;
  font-size: 15px;
  
 display: flex;
}
.card{
  background-color: white;
  width: 300px;
  height: 350px;

  border-radius: 10px;
  box-shadow: 0px 5px 10px black;
}
/* experiencia */
.experiencia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
  height: 800px;
  background-color: #000;
  
  
}
 .titulo_experiencia{
  display: flex;
  align-self: flex-start;
  margin-left: 10%;
  font-size: 26px;
  margin-top: 20px;
  color: white;
  justify-content: flex-start;
} 

.caixa_experiencia {
  display: flex;
  flex-direction: row;
  gap: 180px;
  margin-top: 120px;
  
}

.caixa_titulo {
  color: white;
  font-size: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  
}
.texto_experiencia{
  display: flex;
  white-space: rap;
}


.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  background-color: white;
  width: 300px;
  height: 350px;

  border-radius: 10px;
  box-shadow: 0px 5px 10px black;

}
.companhia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
    height: 800px;
  background-color: #000;
  
}
.comtitulo{
  align-self: flex-start;
  margin-left: 10%;
  font-size: 26px;
  margin-top: 20px;
}

.caixa_campanhia {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-top: 120px;
  
}

.ttitle {
  color: white;
  font-size: 20px;
  
}

.ttitle {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.caixa_ttitulo {
  color: white;
  font-size: 15px;
  
}

.ccard {
  background-color: white;
  width: 400px;
  height: 250px;

  border-radius: 10px;
  box-shadow: 0px 5px 10px black;

}
.botao{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
 
  
}
.btn{
  width: 300px;
  height: 50px;
  border-radius: 10px;
  background-color: green;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
  height: 100%;
  background-color: #000;
}
.nome{
  align-self: flex-start;
  margin-left: 10%;
  font-size: 60px;
  margin-top: 20px;
  
}
.paragrafo{
  width: 700px;
  font-size: 26px;
}
.formato {
  width: 100px;
  height: 100px;
  
}
.imagem{
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 10px;
}
.conteudo{
  font-size: 26px;
  
}
img{
  width: 300px;
  height: 350px;
  border-radius: 10px;
}
p{
  display: flex;
}
.img_pelotao{
  width: 400px;
  height: 250px;
}
/*
.cards {
    display: flex;
    flex-direction: row;  
     gap: 300px; 
}

.card {
    display: flex;
    width: 250px;
    height: 300px;
    background-color: aliceblue;
} */ 
/* .card span {
  margin: 0 0 10px 0;  
  font-size: 1.5em;  
  text-align: center;  
} */

/* .img{
  width: 250px;
    height: 300px;
} */
  /* .container_sobremim{
    background-color: #000;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
  }
  .sobremim{
    
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
  }
  .cards{
    display: flex;
    width: 250px;
    height: 300px;
    background-color: aliceblue;
    flex-direction: row;
    
   
  } */
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*
 
  
  .login {
    cursor: pointer;
    background-color: rgba(79, 30, 30, 0.65);
  }
  
  .login:hover {
    transition: 0.5s;
    background-color: rgba(167, 31, 31, 0.62);
  }
  
  .cadastro {
    cursor: pointer;
    background-color: rgba(91, 78, 78, 0.855);
  }
  
  .cadastro:hover {
    transition: 0.5s;
    background-color: rgba(176, 175, 163, 0.717);
  } */ 

/* NAV PROFILE */
/* .nav-profile {
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
}
.user-profile-button {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.user-profile-button p {
  margin-top: 4px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}
.user-profile-button .icon-modify {
  color: var(--cinza);
  padding: 10px;
  border-radius: 100%;
  border: 2px solid var(--branco);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.user-profile-button .icon-modify:hover {
  color: #0e0c0c;
  background-color: var(--cinza);
} */

/* SUBMENU DROPDOWN */
/* .sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: -100%;
  width: 320px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu {
  max-height: 500px;

}
.submenu {
  border-radius: 5px;
  border: #bdbdbd 1.5px solid;
  background-color: var(--branco);
  padding: 20px;
  margin: 10px;
}
.user-info {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #bdbdbd;
  padding-bottom: 8px;
}
.user-info .username {
  font-size: 24px;
  color: #3B3B3B;
}
.user-info .icon-modify {
  border: 2px solid var(--cinza);
  background-color: #D9D9D9;
  border-radius: 100%;
  padding: 8px;
  color: grey;
  font-size: 32px;
  margin-right: 15px;
} */

/* 
.submenu-option {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 8px;
  text-decoration: none;
  color: #B8B8B8;
  margin: 12px 0;
}
.submenu-option p {
  width: 100%;
}
.submenu-option .icon-modify {
  font-size: 16px;
  color: grey;
  padding: 8px;
  background-color: var(--cinza);
  border-radius: 50%;
  margin-right: 16px;
}
.submenu-option span {
  font-size: 22px;
  transition: transform 0.3s ;
}

.submenu-option:hover .icon-modify {
  color: var(--preto);  
}
.submenu-option:hover span {
  color: var(--preto);  
  transform: translateX(8px);
} 
.submenu-option:hover p {
  color: var(--preto);
  font-weight: bold;
} */